.LoginForm {
    width: 100%;
    height: 400px;
    max-width: 500px;
    filter: drop-shadow(0px 0px 0.15rem #0000004b);
    margin: auto  0 auto 0;
    border-radius: 5px;
}
.AdminForm-Main {
    filter: drop-shadow(0px 0px 0.15rem #0000004b);
    margin: auto  0 auto 0;
    border-radius: 5px;
}
.AdminForm-Nav {
    height: 90vh;
    border-right: 5px solid rgba(0, 0, 0, 0); 
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
    overflow: hidden;
}     
.AdminForm-Nav-Button {
    width: 90% ;
    border-radius: 5px;
}
.AdminForm-ContentContainer {
    width: 100%;
    height: 90vh;
    overflow-y: auto;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}
.AdminForm-ContentContainer-Nav {
    width: 100%;
    height: 70px;
    padding: 5px 0 5px 0;
    margin: 5px 0 0 0 ;
    border-top-right-radius: 10px;
    display: flex;
    flex-direction: row;
}
.AdminsForm-Header {
    width: 40%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.AdminsForm-Header-AddNewAdminButton {
    min-width: 40px;
    min-height: 40px;
    max-width: 40px;
    max-height: 40px;
    border-radius: 50%;
    font-size: 20px;
}